:host {
display: contents;
}

.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    height: calc(var(--x-extra-large) - 1rem);
    min-height: calc(var(--x-extra-large) - 1rem);

}

.container::before {
    content: "";
    position: absolute;
    z-index: -9999;
    width: 100%;
    height: var(--x-extra-large);
    box-shadow:  var(--bs-2-bottom);
}

a.logo {
    display: flex;
    align-items: center;
}

fa-icon {
    color: var(--white);
}


@media (min-width: 600px) {
    :host::before {
        padding-inline-start: 100% - 5rem;
        box-shadow:  var(--bs-2-bottom);
    }
}