<div class="container">
<app-logo></app-logo>


    <div class="profile">
        <!-- Logged in -->
        <ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
            <ng-container *ngIf="auth.user$ | async as user">
                <app-menu-item  name={{user.nickname}}>
                <li>
                    <a routerLink="/profile">Profile</a>
                </li>
                <li>
                    <a routerLink="" (click)="logout()">Log out</a>
                </li>
                </app-menu-item>
            </ng-container>
        </ng-container>

        <!-- Logged out -->
        <ng-template #loggedOut>
            <button class="primary round" (click)="loginWithRedirect()"><fa-icon [icon]=loginIcon size="lg"></fa-icon></button>
        </ng-template>
    </div>
</div>