:host {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto-fit, 425px);
    gap: var(--large);
    overflow-y: scroll;
}


@media (min-width: 840px) {
    :host {
        gap: var(--large);
        grid-template-columns: repeat(8, 1fr);
    }
}


@media (min-width: 1180px) {
    :host { 
        grid-template-columns: repeat(12, 1fr); 
        max-width: 1280px;
        margin: 0 auto;
    }
}