:host {
    all: unset;
    padding-block: var(--medium);
    padding-inline: var(--large);
}

:host:hover{
    
    background-color: var( --pnc-sys-color-surface-container-high);
}
:host:focus, :host:active{
    background-color: var(--pnc-sys-color-primary-container);
}

li {
    all: unset;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 768px;
    height: 100%;
    display: inline-block;
}