
table {
    border-collapse: separate;
  }

td,th {
    padding-inline: var(--medium);
  }

img {
    width: var(--large);
    height: var(--large);
  }



*[data-name="Tid"] {
  text-align: start;
}

*[data-name="Temp (känns som)"] {
  text-align: end;
}

 /* Style the UV-I column */ 
*[data-name="UV-I"] {
  border-radius: var(--large);
  color: var(--white);
  font-size: var(--fs-300);
  font-weight: var(--fw-600);
  letter-spacing: 2px;
  text-align: center;
}
  *[data-name="UV-I"][data-value="Låg"] {
    background-color: var(--green-500);
    color: var(--green-800);
  }
  *[data-name="UV-I"][data-value="Måttlig"] {
    background-color: var(--green-600);
    color: var(--green-800);
  }
  *[data-name="UV-I"][data-value="Hög"] {
    background-color: var(--yellow-300);
    color: var(--yellow-700);
  }
  *[data-name="UV-I"][data-value="Mycket hög"] {
    background-color: var(--orange-500);
    color: var(--orange-800);
  }
  *[data-name="UV-I"][data-value="Extrem"] {
    background-color: var(--red-500);
    color: var(--red-800);
  }

*[data-name="Risk för regn"] {
  text-align: end;
}

*[data-name="Nederbörd"] {
  text-align: end;
}

*[data-name="Molnighet"] {
  text-align: end;
}

*[data-name="Väder"] {
  text-align: center;
}

