:host {
  display: flex;
  flex-direction: column;
  padding: var(--medium);
  gap: var(--medium);
  background-color: var(--light-background-100);

}

.table {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(7, auto);
/*   overflow: hidden;
  overflow-y: scroll; */
  height: calc(100% - var(--medium));
  background-color: var(--white);
  font-weight: var(--fw-500);
}

.tableCell, .tableHeading {
  padding-inline: var(--medium);
}

.tableHeading {
  position: sticky;
  top: -1px;
  padding-block: var(--small);
  background-color: var(--white);
}

.tableCell {
  height: var(--large);
  display: flex;
  justify-content: center;
  align-items: center;
}

.numerical {
  justify-content: flex-end;
  text-align: end;
}
.text {
  justify-content: flex-start;
  text-align:start
}


.tableHeading.badge {
  text-align: center;
}

.tableCell.badge {
  border-radius: var(--large);
  font-size: var(--fs-300);
  font-weight: var(--fw-600);
  letter-spacing: 2px;
  height: calc(var(--medium) + var(--small));
}
.badge[data-value="Låg"] {
    background-color: var(--green-300);
    color: var(--green-800);
  }
  .badge[data-value="Måttlig"] {
    background-color: var(--green-500);
    color: var(--white);
  }
  .badge[data-value="Hög"] {
    background-color: var(--yellow-300);
    color: var(--yellow-800);
  }
  .badge[data-value="Mycket hög"] {
    background-color: var(--orange-500);
    color: var(--orange-800);
  }
  .badge[data-value="Extrem"] {
    background-color: var(--red-500);
    color: var(--red-800);
  }


  .tableHeading.image {
    justify-content: center;
    text-align: center;
  }
  
  .icon {
    width: var(--large);
    height: var(--large);
}

  .fetch-date {
    color: var(--on-light-background-100);
    font-size: var(--fs-400);
    font-weight: var(--fw-300);
}
