<h5 class="flex row j-start a-center gap-sm">Timme för timme {{forecast.location}}</h5>
<div class="table">
    <div *ngFor="let heading of tableHeadings"
        [ngClass]="['tableHeading'].concat(heading.classList)">
            <h6>{{heading.title}}</h6>
    </div>
    <div *ngFor="let cell of tableData"
        [ngClass]="['tableCell'].concat(cell.classList)"
        [attr.data-value]="cell.value">
        <ng-container *ngIf="cell.classList.includes('image'); else default">
            <img [src]="getIconUrl(cell.value)"/>
        </ng-container>
        <ng-template #default>
            {{cell.value}}
        </ng-template>
    </div>
</div>
<span class="fetch-date | flex row j-center a-center gap-sm"> {{forecast.fetchDate | isoToDate}}</span>

