:host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    max-width: 100%;
}

:host.warning {
    background-color: var(--red-100);
}

:host ::ng-deep .reading-block,:host ::ng-deep .reading-affix {
    font-size: var(--fs-800) !important;
    font-weight: bold !important;
    color: var(--on-light-background-900) !important;
    opacity: 1 !important; 
}

img {
    width: 2rem;
}

fa-icon {
    color: var(--green-500);
}


.fetch-date {
    padding-block-start: var(--large);
    color: var(--on-light-background-100);
    font-size: var(--fs-400);
    font-weight: var(--fw-300);
}

