:host {
    display: flex;
    flex-direction: column;
    padding: var(--medium);
}

.label-group {
    display: flex;
    flex-direction: column;
}

.ball {
    background-color: var(--green-500);
    width: var(--medium);
    height: var(--medium);
    border-radius: var(--pill);
}

.ball.error {
    background-color: var(--red-500);

}

:host.warning {
    background-color: var(--red-100);
}

:host ::ng-deep .reading-block,:host ::ng-deep .reading-affix {
    font-size: var(--fs-800) !important;
    font-weight: bold !important;
    color: var(--on-light-background-900) !important;
    opacity: 1 !important; 
}

img {
    width: 2rem;
}

ngx-gauge {
    height: 100%;
    flex-grow: 1;
    align-self: center;
}

.fetch-date {
    padding-block-start: var(--large);
    color: var(--on-light-background-100);
    font-size: var(--fs-400);
    font-weight: var(--fw-300);
}

