<ng-container *ngIf="measurement$ | async as measurement; else error">
    <div class="flex row gap-sm">
        <span>Jordfuktighet</span>
        <span [ngClass]="{'error': isDateOlderThanOneHour(measurement.updatedAt)}" class="ball"></span>
    </div>
    <ngx-gauge
        [type]="gaugeType" 
        [value]="measurement.value" 
        [append]="gaugeAppendText"
        [thick]="gaugeThickness"
        [cap]="gaugeCap"
        [size]="gaugeSize"
        [foregroundColor]="foregroundColor"
        [thresholds]="threshold"
        [markers]="marker"
        [min]="min"
        [max]="max"
    >
        <ngx-gauge-label>
            <div class="label-group">
                <h4>{{measurement.temp | addUnit: '&#176;C'}}</h4>
                <span>{{sensor.alias}}</span>
                <span></span>
            </div>
        </ngx-gauge-label>
    </ngx-gauge>

    <span class="flex row j-center a-center gap-sm">{{getStatusText(measurement.value)}}</span>
    <span class="fetch-date flex row j-center a-center">{{measurement.updatedAt.toString() | isoToDate}}</span>
</ng-container>

<ng-template #error>
    <div class="flex col j-center a-center gap-sm grow">
        <ngx-gauge
        [type]="gaugeType" 
        [value]="0" 
        [label]="sensor.alias"  
        [append]="gaugeAppendText"
        [thick]="gaugeThickness"
        [cap]="gaugeCap"
        [size]="gaugeSize"
        [foregroundColor]="foregroundColor"
        [thresholds]="threshold"
        [markers]="marker"
        [min]="min"
        [max]="max"
    >
    </ngx-gauge>
    <span class="flex row j-center a-center gap-sm">{{getStatusText(-1)}}</span>
    </div>
</ng-template>