<span class="flex row j-center a-center gap-sm">Jordfuktighet <fa-icon [icon]=faSeedling size="lg"></fa-icon></span>
<ngx-gauge 
    [type]="gaugeType" 
    [value]="sensor.values[0].value" 
    [label]="sensor.alias"  
    [append]="gaugeAppendText"
    [thick]="gauageThickness"
    [cap]="guageCap"
    [size]="guageSize"
    [thresholds]="threshold"
    [markers]="marker"
>
</ngx-gauge>
<span class="flex row j-center a-center gap-sm">{{statusText}}</span>
<span class="fetch-date">{{sensor.values[0].date | isoToDate}}</span>
