<app-grid>
    <app-weather-card
        *ngIf="forecast$ | async as forecast; else loading"
        [forecast]="forecast"
        class="card medium-card" 
    >
    </app-weather-card>
    <app-soil-moisture-card 
        *ngIf="sensor$ | async as sensor; else loading" 
        [sensor]="sensor"
        [ngClass]="{'warning': sensor.warning}" 
        class=" card small-card">
    </app-soil-moisture-card>

    <ng-template #loading>
        <div class="card small-card">Loading</div>
    </ng-template>
</app-grid>
