:host {
    display: contents;
}

.card-single {
    grid-column: auto / span 4;

}

.card-double {
    grid-column: auto / span 4;

}

@media (min-width: 840px) {
    .card-single {
        grid-column: auto / span 4;
    
    }
    .card-double {
        grid-column: auto / span 8;
    
    }
    
}

/* @media (min-width: 1000px) {
    .card-single {
        grid-column: auto / span 3;
    
    }
    .card-double {
        grid-column: auto / span 5;
    
    }
    
} */

@media (min-width: 1180px) {
    .card-single {
        grid-column: auto / span 4;
    
    }
    .card-double {
        grid-column: auto / span 8;
    
    }
    
}

