<app-masonry-grid>
  @defer(when forecast() !== undefined) {
  <app-current-weather [forecast]="forecast()!" class="card-single">
  </app-current-weather>
  }
  @loading {
  <div class="card card-single">Loading</div>
  }
  @defer(when forecast() !== undefined) {
  <app-weather-card [forecast]="forecast()!" class="card card-double">
  </app-weather-card>
  }
  @loading {
  <div class="card card-double">Loading</div>
  }
  @defer(when pollenForecast() !== undefined) {
  <app-pollen-forecast [forecast]="pollenForecast()!" (requestNewData)="updatePollenData($event)"
    class="card card-full"></app-pollen-forecast>
  }
  @loading{
  <div class="card card-full">Loading</div>
  }
  @defer(when stationWaterLevelData() !== undefined) {
  <app-simple-water-level class="card card-full" [oceanographicalObservationsPeriodData]="stationWaterLevelData()!">
  </app-simple-water-level>
  }
  @loading {
  <div class="card card-full">Loading</div>
  }

  @defer(when forecast() !== undefined) {
  <app-detailed-weather-table class="card card-double" [forecast]="forecast()!"></app-detailed-weather-table>
  }
  @loading{
  <div class="card card-double">Loading</div>
  }
</app-masonry-grid>
