<app-grid> 
<!--     <app-weather-card 
    class="card" 
    >
    </app-weather-card> -->
    <app-weather-card
    (click)="updateWeather()" 
    *ngIf="forecast$ | async as forecast; else loading"
    [forecast]="forecast"
    class="card" 
    >
    </app-weather-card>
    <app-soil-moisture-card 
    *ngIf="sensor$ | async as sensor; else loading" 
    [sensor]="sensor" 
    class="card">
    </app-soil-moisture-card>
</app-grid>

<ng-template #loading>
    <div class="card">Loading</div>
</ng-template>
