<div *ngIf="measurement$ | async as measurement" class="content">
    <span [ngClass]="{'error': isDateOlderThanOneHour(measurement.updatedAt)}" class="ball"></span>    
    <ngx-gauge
        [type]="gaugeParams.type" 
        [value]="measurement.value" 
        [thick]="gaugeParams.thick"
        [cap]="gaugeParams.cap"
        [size]="gaugeParams.size"
        [foregroundColor]="gaugeParams.foregroundColor"
        [thresholds]="gaugeParams.thresholds"
        [min]="gaugeParams.min"
        [max]="gaugeParams.max">
    </ngx-gauge>
    <div class="content-text">
        <h6 class="card-title">Jordfuktighet</h6>
        <span class="card-title">{{sensor.alias}}</span>
        <span class="card-time | helper-text">{{measurement.updatedAt | date: 'yyyy-MM-dd HH:mm'}}</span>
    </div>
    
</div>