@defer(when measurement() !== undefined) {
@let m = measurement();
<div class="content">
  <span [ngClass]="{'error': isDateOlderThanOneHour(m.updatedAt)}" class="ball"></span>
  <ngx-gauge [type]="gaugeParams.type" [value]="m.value" [thick]="gaugeParams.thick" [cap]="gaugeParams.cap"
    [size]="gaugeParams.size" [foregroundColor]="gaugeParams.foregroundColor" [thresholds]="gaugeParams.thresholds"
    [min]="gaugeParams.min" [max]="gaugeParams.max" [append]="gaugeParams.append">
  </ngx-gauge>
  <div class="content-text">
    <h6 class="card-title">{{title}}</h6>
    <span class="card-title">{{sensor.alias}}</span>
    <span class="card-time | helper-text">{{ m.updatedAt.toString() | stringToDate | dfnsFormatDistanceToNow}}
      sedan</span>
  </div>
</div>
}

@else{
Loading...
}
