<app-column>
  <section>
    <app-search (requestLocationSearch)="getLocation($event)" (requestClearSearch)="clearSearch()" (resultClicked)="getForecast($event)">
    </app-search>
    @defer( when searchResults() !== undefined){
    <ul>
      @for(result of searchResults(); track $index) {
      <app-search-result [searchResult]="result" (clickRequest)="handleSearchClick($event)"></app-search-result>
      }
    </ul>
    }

    @loading{
      Loading...
    }
    @if(forecast() !== undefined) {
    <div class="container">
      <app-current-weather class="card-single" [forecast]="forecast()!">
      </app-current-weather>
      <app-weather-card class="card card-single-quarter" [forecast]="forecast()!">
      </app-weather-card>
      <app-detailed-weather-table class="card card-double" [forecast]="forecast()!"></app-detailed-weather-table>
    </div>
    <button (click)="clearForecast()" class="primary">Sök på nytt</button>
    <button (click)="setDefault(location())" class="secondary">{{setDefaultButtonText()}}</button>
    }
  </section>
</app-column>
