<app-column>
  <section>
    <app-search (requestLocationSearch)="getLocation($event)" (resultClicked)="getForecast($event)"
      [isLoading]="locationIsLoading" [searchResults]="searchResults">
    </app-search>

    @if(forecast() !== undefined) {
    <div class="container">
      <app-current-weather class="card-single" [forecast]="forecast()!">
      </app-current-weather>
      <app-weather-card class="card card-single-quarter" [forecast]="forecast()!">
      </app-weather-card>
      <app-detailed-weather-table class="card card-double" [forecast]="forecast()!"></app-detailed-weather-table>
    </div>
    <button (click)="clearForecast()" class="primary">Sök på nytt</button>
    }
    @else{
    <div class="card loading">Loading</div>
    }
  </section>
</app-column>
