<app-masonry-grid>
    <div class="card card-full" *ngIf="hydrologicalStations$ | async as stations">
        <div (click)="setStationWaterLevelData(station.id)" *ngFor="let station of stations">
            {{station.name}}
        </div>
    </div>

    <div class="card card-full" *ngIf="stationWaterLevelData$ | async as stationWaterLevelData">
        <app-simple-water-level
        [stationWaterLevelData]="stationWaterLevelData">

        </app-simple-water-level>
        <button (click)="clearStationWaterLevelData()">Rensa</button>
    </div>
</app-masonry-grid>