:host {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--medium);
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--medium);
}

.icon {
    width: var(--extra-large);
    height: var(--extra-large);
}


.fetch-date {
    color: var(--on-light-background-100);
    font-size: var(--fs-400);
    font-weight: var(--fw-300);
}