<div class=" card flex row gap-lg p-md">
    <div class="flex col grow j-center no-grow">
        <svg class="icon">
            <use [attr.xlink:href]="getIconUrl(forecast.current.symbol)"></use>
        </svg>
    </div>   
    <div class="flex col gap-sm grow">
        <h6 class="card-caption">Väder</h6>
        <span class="card-title">{{forecast.locationName}}</span>
      <!--   <span class="helper-text"> {{forecast.fetchDate.toString() | stringToDate | dfnsFormatDistanceToNow}} sedan</span> -->
      <div class="flex row gap-sm">
        <div class="flex col gap-xs grow">
            <span class="helper-text">ute</span>
            <h4 class="no-text-wrap">{{forecast.current.currentTemperature | addUnit: '&#176;C'}}</h4>
        </div>
        <div class="flex col gap-xs grow">
            <span class="helper-text">inne</span>
            <h4 class="no-text-wrap"> {{forecast.insideTemperature| addUnit: '&#176;C'}}</h4>
        </div>
    </div> 
    </div>
   
</div>


<div class="card-grid">
    <div class="card p-md">
        <h6>Luftfuktighet</h6>
        {{forecast.current.humidity | addUnit: '%'}}
    </div>
    <div class="card flex col p-md">
        <h6>Vind</h6>
        <div class="flex row gap-md">
            {{forecast.current.windSpeed | addUnit: 'm/s'}} 
            <fa-icon [title]="forecast.current.windDirection | degToCompass " [style.transform]="rotate(forecast.current.windDirection)" [icon]=icons.faArrowDown size="lg"></fa-icon> 
        </div>
    </div>
    <div class="card p-md">
        <h6>Nederbörd</h6>
        {{forecast.current.minAmountOfPrecipitation}} - {{forecast.current.maxAmountOfPrecipitation | addUnit: 'mm'}}
    </div>
    <div class="card p-md">
        <h6>Barometer</h6>
        {{forecast.current.airPressure | addUnit: 'hPa'}}
    </div>
    <div class="card-grid-footer | card p-md ">
        <span class="helper-text"> {{forecast.fetchDate.toString() | stringToDate | dfnsFormatDistanceToNow}} sedan</span>
    </div>
</div>


