:host {
    display: flex;
    flex-direction: column;
    gap: var(--medium);
}

.icon {
    width: var(--extra-large);
    height: var(--extra-large);
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--medium);
}

.card-grid-footer {
    grid-column: span 2;
}

fa-icon {
    color: var(--gray-900);
}
