<div class="profile">
  <!-- Logged in -->
  @if(isAuthenticated()){
    <!-- The menu is a button on mobile -->
    @defer(when user() !== undefined) {
    @let u = user()!;
    <app-menu-item name={{u.nickname}}>
      <li>
        <a [routerLink]="['/', 'profile']">{{buttonGroup.profile.title}}</a>
      </li>
      <li>
        <a [routerLink]="" (click)="logout()">{{buttonGroup.logout.title}}</a>
      </li>
    </app-menu-item>
    <!-- The menu is separated in to links on larger screens -->
    <div class="button-group">
      <a [routerLink]="['/', 'profile']">
        <div class="icon">
          <fa-icon [icon]=buttonGroup.profile.icon size="lg"></fa-icon>
        </div>
        <span>{{buttonGroup.profile.title}}</span>
      </a>
      <a routerLink='[]' (click)="logout()">
        <div class="icon">
          <fa-icon [icon]=buttonGroup.logout.icon size="lg"></fa-icon>
        </div>
        <span>{{buttonGroup.logout.title}}</span>
      </a>
    </div>
    }
    @loading {
    Loading...
    }
  }
  @else {
  <div class="button-group">
    <a routerLink="" (click)="loginWithRedirect($event)">
      <div class="icon">
        <fa-icon [icon]=buttonGroup.login.icon size="lg"></fa-icon>
      </div>
      <span>{{buttonGroup.login.title}}</span>
    </a>
  </div>
  }
</div>
