
article {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    padding: var(--medium);
    gap: var(--small);
}

app-area-chart {
    flex-grow: 1;
/*     background-color: var(--light-background-100); */
}

.placeholder {
    flex-grow: 1;
}

.active {
   background-color: var(--pnc-sys-color-inverse-primary);
}

button {
    align-self: flex-start;
    flex-grow: 0;
}

h5 {
    line-height: var(--extra-large);
}
input {
    all: unset;
    padding-inline: var(--medium);
    border: 2px solid var( --pnc-sys-color-outline);
    border-radius: 5px;
    height: var(--extra-large);
    max-height: var(--extra-large);
    font-size: var(--fs-500);
}

input:focus {
    outline: none;
}
input:focus-visible {
    border-color: var(--pnc-sys-color-primary);
}
input:active {
    border-color: var(--pnc-sys-color-primary);
}