:host {
    display: flex;
    flex-grow: 1;
    padding: var(--extra-large);
    padding-block-end: 0;
}

ul {
    display: flex;
    flex-direction: column;
    gap: var(--large);
}

li {
    display: contents;
}

a {
    padding: var(--large);
    font-size: var(--fs-600);
    font-weight: var(--fw-500);
    background: var( --pnc-sys-color-surface-container-high);
    border-radius: var(--rounded);
    transition-duration: var( --duration-short);
    transition-timing-function: var(--ease-in-out);
}

a:hover {
    background: var(--pnc-sys-color-inverse-primary);
    color: var( --pnc-sys-color-on-primary);
    
}


