  @if(hydrologicalObservationsParameters() !== undefined) {
  @let h = hydrologicalObservationsParameters()!;
    <h3>Välj parameter</h3>
    <app-navigation-list
        [navigationItems]="getNavigationItems(h.resource)">
    </app-navigation-list>

    <div class="component-footer | flex col">
        <span>Data från <a href="https://opendata-download-hydroobs.smhi.se/api.">SMHI HYDROOBS</a>, Version {{h.key}}</span>
        <span class="helper-text">Updaterades senast {{h.updated | date}}</span>
    </div>
    }

