:host {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: var(--x-extra-large);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    background-color: var(--pnc-sys-color-surface-container-low);
    background-blend-mode: multiply;
/*     box-shadow: var(--bs-2-top); */
    transition-duration: var(--duration-short);
    transition-timing-function: var(--ease-in-out);
}

nav {
    display: contents;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;
    flex-grow: 1;
}

li {
    flex-grow: 1;
}


app-logo, app-user-menu-item {
    display: none;
}

@media (min-width: 600px) {
    :host {
        position: fixed;
        flex-direction: column;
        width: var(--small-navigation-drawer-width);
        height: 100%;
        justify-content: space-between;
        align-items: center;
      /*   box-shadow: var(--bs-2-right);  */
        gap: var(--x-extra-large);
        padding-block: var(--medium);
    }

    ul {

        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-grow: 0;
    }

    a {
        padding-block: var(--small);
        height: min-content;
        
    }

    app-logo, app-user-menu-item {
        display: inline;
    }
}

@media (min-width: 1440px) {
    :host {
        min-width: var(--large-navigation-drawer-width);
        padding-inline: var(--small);
        gap: calc(var(--x-extra-large));
        justify-content: flex-start;
        align-items: stretch;
    }

    ul {
        justify-content: flex-start;
        align-items: stretch;
        flex-grow: 1;
    }

    li {
        flex-grow: 0;
    }

    
}
