
<header>
  <div class="side"></div>
  <a class="middle" href="/">
    <h3>
      Pihl-Net-Central
    </h3>
  </a>

  <div class="side">
<!-- Logged out -->
  <ng-template #loggedOut>
    <a routerLink="" class="button-primary" (click)="loginWithRedirect()">Log in</a>
  </ng-template>
<!-- Logged in -->
  <ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
    <!-- We CAN'T reach user info from auth -->
      <ng-template #placeholder>
          <a routerLink="" class="button-primary" (click)="logout()">
            Log out
          </a>
      </ng-template>
      <!-- We can reach user info from auth -->
      <ng-container *ngIf="auth.user$ | async as user; else placeholder">
        <app-menu-item class="button-primary" name={{user.nickname}}>
          <li>
            <a routerLink="/profile">Profile</a>
          </li>
          <li>
            <a routerLink="" (click)="logout()">Log out</a>
          </li>
        </app-menu-item>
      </ng-container>
    
  </ng-container>
</div>
</header>


<main>
  <app-left-nav
  >
  </app-left-nav>
  <router-outlet>
  </router-outlet>
</main>

