header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    width: 100%;
    background-color: var(--white);
    box-shadow: var(--bs-2);
    position: sticky;
    z-index: 9999;
}

main{
    height: calc(100vh - 72px);
    display: flex;
    flex-direction: row;
}

app-left-nav {
    display: flex;
    flex-direction: column;
    gap:var(--small);
    box-shadow: var(--bs-2);
}


@media screen and (max-width:768px) {

    main{

        flex-direction: column;
    }
    app-left-nav {
        flex-direction: row;
        height: 4rem;
        width: 100%;

    }
    
}

a {
    all:unset;
    color: var(--on-light-background-900);
}

a:hover {
    color: var(--gray-500);
    cursor: pointer;
}

