:host {
    visibility: visible;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 72px;
    background-color: var(--white);
    opacity: 1;
}

.menu-container {
    display: flex;
    flex-direction: column;
    justify-content: right;
}

ul {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 9999;
    justify-content: end;
    top: 64px;
    right: 16px;
    background-color: var(--white);
    border-radius: 5px;
    box-shadow: var(--bs-2);
    padding-block: var(--extra-small);
    min-width: 256px;
}

:host ::ng-deep li  {
    display: flex;

    flex-grow: 1;
}
:host ::ng-deep li a  {
    padding-inline: var(--large);
    padding-block: var(--medium);
}

:host ::ng-deep li:hover{
 background-color: var(--light-background-200)
}

.display {
    visibility: visible; 
}