:host {
    display: flex;
    justify-content: stretch;
    overflow-y: auto;
    width: 100%;
    margin-bottom: var(--navigation-bar-height);
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;;
    gap: var(--small);
    padding: var(--small);
    
}

@media (min-width: 600px) {
    :host {
        margin-inline-start: var(--small-navigation-drawer-width);
        margin-bottom: 0 ;
        width: calc(100% - var(--small-navigation-drawer-width));
    }
    main {
        gap: var(--medium);
        padding: var(--medium);

    }
}

@media (min-width:1440px) {
    :host {
        margin-inline-start: var(--large-navigation-drawer-width);
        width: calc(100% - var(--large-navigation-drawer-width));
    }
    main {
        gap: var(--large);
        padding: var(--large);
        width: 100%;
        max-width: 1280px;
        margin: 0 auto;
    }
}

