<div class="data">
    <div class="card flex col p-md gap-md" *ngIf="oceanographicalObservationsData$ | async as oceanographicalObservationsPeriodData">
        <h6 class="card-title">{{oceanographicalObservationsPeriodData.parameter.name}}</h6>
        <div class="flex row gap-md">
            <div class="flex col gap-xs grow">
                <h6 class="card-title">Ägare</h6>
                <span>{{oceanographicalObservationsPeriodData.station.owner}}</span>
            </div>
            <div class="flex col gap-xs grow">
                <h6 class="card-title">Min</h6>
                <span>{{(oceanographicalObservationsPeriodData.value | hydrologicalMinMax: "min": "value").value | addUnit: oceanographicalObservationsPeriodData.parameter.unit}}</span>
                <span class="helper-text">{{(oceanographicalObservationsPeriodData.value | hydrologicalMinMax: "min" : "value").date | date }}</span>
            </div>
            <div class="flex col gap-xs grow">
                <h6 class="card-title">Max</h6>
                <span>{{(oceanographicalObservationsPeriodData.value | hydrologicalMinMax: "max": "value").value | addUnit: oceanographicalObservationsPeriodData.parameter.unit}}</span>
                <span class="helper-text">{{(oceanographicalObservationsPeriodData.value | hydrologicalMinMax: "max": "value").date | date }}</span>
            </div>
            <div class="flex col gap-xs grow">
                <h6 class="card-title">Senast</h6>
                <span>{{(oceanographicalObservationsPeriodData.value | hydrologicalMinMax: "max" : "date").value | addUnit: oceanographicalObservationsPeriodData.parameter.unit }}</span>
                <span class="helper-text">{{(oceanographicalObservationsPeriodData.value | hydrologicalMinMax: "max": "date").date | date }}</span>
            </div>
        </div>
        
        <app-area-chart
            [chartConfig]="this.createChartConfig(oceanographicalObservationsPeriodData)">
        </app-area-chart>
    </div>
</div>
