:host {
    height: 1000px;
}


:host ::ng-deep g.no-grid g.tick line, :host ::ng-deep path.domain {
    color: transparent
}

:host ::ng-deep .y-axis .tick line {
    stroke:var(--blue-100);
    
}

:host ::ng-deep text {
    font-size: var(--fs-100);
    text-transform: uppercase;
    font-weight: 600;
    color: var(--on-light-background-100);
    letter-spacing: .067rem;
}

:host ::ng-deep rect {
    ry: 0.5rem;
    fill: var(--blue-500);
}

:host ::ng-deep g.tick line {
    stroke: var(--gray-400);
    stroke-opacity: 0.5;
    stroke-dasharray: 3, 3;
    shape-rendering: crispEdges;
}