:host {
    height: 1000px;
}


:host ::ng-deep g.no-grid g.tick line, :host ::ng-deep path.domain {
    color: transparent
}

:host ::ng-deep .y-axis .tick line {
    stroke:var(--pnc-sys-color-on-surface);
    
}

:host ::ng-deep text {
    font-size: var(--fs-100);
    text-transform: uppercase;
    font-weight: 600;
    color: var(--pnc-sys-color-on-surface);
    letter-spacing: .067rem;
}

:host ::ng-deep rect {
    ry: 0.5rem;
    fill: var( --pnc-sys-color-primary);
}

:host ::ng-deep g.tick line {
    stroke: var(--pnc-sys-color-on-surface);
    stroke-opacity: 0.5;
    stroke-dasharray: 3, 3;
    shape-rendering: crispEdges;
}