
:host{
    display: flex;
}
figure{
flex-grow: 1;
}
:host ::ng-deep .icon {
    fill: var(  --pnc-sys-color-on-surface);
    max-width: 40px;
    max-height: 40px;
}
:host ::ng-deep .icon use g {
    width: 40px;
    height: 40px;
}

:host ::ng-deep g.no-grid g.tick line, :host ::ng-deep path.domain {
    color: transparent
}

:host ::ng-deep g.grid g.tick line {
    color:var(  --pnc-sys-color-on-surface);
    stroke-dasharray: 3, 3;
}

:host ::ng-deep text {
    font-size: var(--fs-100);
    text-transform: uppercase;
    font-weight: 600;
    color: var(  --pnc-sys-color-on-surface);
    letter-spacing: 0.067rem;
}

:host ::ng-deep rect {
    ry: 0.5rem;
    fill: var( --pnc-sys-color-primary);
}
