ul {
    list-style: none;
    padding-block: var(--medium); 
    padding-inline-start: 0;
}
  
li {
    width: 100%;
}
  
li:hover {
    cursor: pointer;
    background-color: var(--pnc-sys-color-surface-container-high);
}
  
li:active {
    cursor: pointer;
    background-color: var( --pnc-sys-color-inverse-primary);
}
  
a {
    display: flex;
    padding-block: var(--small);
    padding-inline: var(--medium);
    text-decoration: none;
    width: 100%;
}