<div class="button-group">
    <button (click)="back()" class="secondary | flex no-grow">Tillbaka</button>
</div>

  @if(hydrologicalObservationsStation() !== undefined) {
    @let h = hydrologicalObservationsStation()!;
    <div class="component-header | flex col gap-md">
        <div class="component-header__title | flex col">
            <h3>{{ h.name}} station</h3>
            <h5> ({{h.key}})</h5>
        </div>
        <div class="component-header__body | flex col gap-sm">
            <div class="wrapper">
                <span
                    [ngClass]="{'active': h.active }"
                    class="pill">
                    {{h.active ? "aktiv" : "inaktiv"}}
                </span>
            </div>
            <span>Första mätning : {{h.from | date}}</span>
            <span>Senaste mätning : {{h.to | date}}</span>
        </div>
    </div>

    <div class="component-body | flex col gap-md ">
    <h4>Välj period</h4>
        <div class="button-group | flex row gap-md">
          @for(period of h.period; track $index) {
            <a [routerLink]="['period', period.key]" [routerLinkActive]="['active']" class="button-primary">
                {{period.title}}
            </a>
            }
        </div>

        <router-outlet></router-outlet>
    </div>

    }



