:host {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: var(--medium);
    gap: var(--medium);
    grid-column: 1 / end;
    grid-row: auto / span 1;
}

.wrapper {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}




fa-icon {
    color: var(--orange-500);
}

app-bar-range-chart {
    height: 100%;
    flex-grow: 1;
}

.weather-side-info {
    height: 100%;
    width: min-content;
}

.weather-side-info-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--medium)
}

.weather-side-info-currently {
    aspect-ratio: 1/1;
    object-fit: fill;
    height: auto;
}

.fetch-date {
    bottom: var(--extra-small);
    color: var(--on-light-background-100);
    font-size: var(--fs-400);
    font-weight: var(--fw-300);
}

@media (min-width: 768px) {
    :host {
        grid-row: auto / span 2;
    }
    .wrapper {
        flex-direction: row;
    }
}
