:host {
    display: flex;
    flex-direction: column;
    gap: var(--medium);
    padding: var(--medium);
    background-color: var(--light-background-100);
    min-height: 300px;
}


span {
    color: var(--blue-900);
}

app-bar-range-chart {
    flex-grow: 1;
    background-color: var(--light-background-100);
    border-radius: var(--rounded);
}

.weather-side-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--large);
    padding: var(--medium);
    background-image: var(--on-light-primary-surface-elevation-1);
}

.weather-side-info-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--medium);
}

.detail {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: var(--small);
}

.weather-side-info-currently {
    display: flex;
    flex-direction: column;
    width: calc(1rem * 10);
    height: calc(1rem * 10);
    justify-content: center;
    align-items: center;
    border-radius: var(--pill);
    background-image: var(--on-light-primary-surface-elevation-3);
}

.fetch-date {
    color: var(--on-light-background-100);
    font-size: var(--fs-400);
    font-weight: var(--fw-300);
}

@media (min-width: 768px) {
    :host {
        grid-row: auto / span 1;
    }


    .weather-side-info-details {
        display: flex;
        flex-direction: column;
    }

    .detail {
        flex-direction: row;
    }
    .wrapper {
        flex-direction: row-reverse;
    }

}
