
<span class="flex row j-center a-center gap-sm">Väder i {{forecast.location}} <fa-icon [icon]=faCloudSun size="lg"></fa-icon></span>
<div *ngIf="!displayDetails; else showDetails" class="wrapper">
    <app-bar-range-chart
        [forecast]=createForecastDataSeries(forecast.daily)
    ></app-bar-range-chart>
    <div class="weather-side-info flex col j-between a-center">
        <div class="weather-side-info-details">
            <div class="detail flex col a-center gap-xs pb-sm pi-md ds-1 rounded">
                <h6 class="detail-title">Vind</h6>
                <span class="detail-data">{{forecast.current.wind_speed | addUnit: "m/s"}} {{forecast.current.wind_deg | degToCompass}}</span>
            </div>
            <div class="detail flex col a-center gap-xs pb-sm pi-md ds-1 rounded">
                <h6 class="detail-title">Barometer</h6>
                <span class="detail-data">{{forecast.current.pressure | addUnit: "hPa"}}</span>
            </div>
            <div class="detail flex col a-center gap-xs pb-sm pi-md ds-1 rounded">
                <h6 class="detail-title">Luft<wbr>fuktighet</h6>
                <span class="detail-data">{{forecast.current.humidity | addUnit: '%'}}</span>
            </div>
            <div class="detail flex col a-center gap-xs pb-sm pi-md ds-1 rounded">
                <h6 class="detail-title">Risk för regn</h6>
                <span class="detail-data">{{forecast.daily[0].pop * 100 | addUnit: '%'}}</span>
            </div>

        </div>
        <div class="weather-side-info-currently flex col a-center j-center gap-md p-md ds-1 round">
            <h6 class="currently-title">Just nu</h6>
            <h3 class="currently-degrees">{{forecast.current.temp | addUnit: '&#176;C'}}</h3>
            <img class="currently-icon" [src]="getIconUrl(forecast.current.weather[0].icon)"/>
        </div>
    </div>
</div>

<ng-template #showDetails>
    <div class="wrapper">
        <app-detailed-weather-table
            [hourlyWeatherArr]="forecast.hourly"
            >
        </app-detailed-weather-table>
    </div>
</ng-template>

<span class="flex row j-center a-center gap-sm fetch-date"> {{forecast.fetchDate | isoToDate}}</span>