<dx-chart
      id="chart"
      [dataSource]="forecastDataSeries"
      [commonPaneSettings]="chartSettings.commonPaneSettings"
      [commonSeriesSettings]="chartSettings.commonSeriesSettings"
      [commonAxisSettings]="chartSettings.commonAxisSettings"
      [margin]="chartSettings.margin"
      [legend]="chartSettings.legend"
      [valueAxis]="chartSettings.valueAxis"
      [series]="chartSettings.series"
      [customizePoint]="chartSettings.customizePoint"
    >
</dx-chart>
<div class="weather-side-info j-center a-center flex col gap-xl">
    <div class="weather-side-info-details flex row gap-md p-md ds-2 round">
        <div class="detail">
            <h6 class="detail-title">Vind</h6>
            <span class="detail-data">{{forecast.current.wind_speed | addUnit: "m/s"}} {{forecast.current.wind_deg | degToCompass}}</span>
        </div>
        <div class="detail">
            <h6 class="detail-title">Barometer</h6>
            <span class="detail-data">{{forecast.current.pressure | addUnit: "hPa"}}</span>
        </div>
        <div class="detail">
            <h6 class="detail-title">Luftfuktighet</h6>
            <span class="detail-data">{{forecast.current.humidity | addUnit: '%'}}</span>
        </div>

    </div>
    <div class="weather-side-info-currently flex col a-center j-center gap-md p-md ds-2 round">
        <h6 class="currently-title">Just nu</h6>
        <h2 class="currently-degrees">{{forecast.current.temp | addUnit: '&#176;C'}}</h2>
        <img class="currently-icon" [src]="'https://openweathermap.org/img/wn/' + forecast.current.weather[0].icon + '@2x.png'"/>
    </div>
</div>
