/* Reset */
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/* Custom properties */
:root {
    --fs-100: 0.7rem;
    --fs-200: 0.8rem;
    --fs-300: 0.9rem;
    --fs-400: 1rem;
    --fs-500: calc(var(--fs-400) * 1.5rem);
    --fs-600: calc(1.6180 * var(--fs-500));
    --fs-700: calc(1.6180 * var(--fs-600));
    --fs-800: calc(1.6180 * var(--fs-700));
    --fs-900: calc(1.6180 * var(--fs-800));

    --fw-100: 100;
    --fw-200: 200;
    --fw-300: 300;
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
    --fw-800: 800;
    
    --bs-1: var(--gray-720) 0px 3px 14px 0px;
    --bs-2: 0 0.2rem 1rem rgb(0 0 0 / 12%);
    --bs-in-2: 0 0.2rem 1rem rgb(0 0 0 / 12%) inset;

    --bs-2-top: 0 -0.2rem 0.3rem rgb(0 0 0 / 12%);
    --bs-2-bottom: 0rem 0.5rem 0.5rem rgb(0 0 0 / 6%);

    --bs-2-right: 0.5rem 1rem 0.5rem rgb(0 0 0 / 6%);

/*     -webkit-box-shadow: 9px 15px 52px -7px rgba(100,100,111,1) inset;
    -moz-box-shadow: 9px 15px 52px -7px rgba(100,100,111,1) inset; */
    --extra-small: 0.25rem;
    --small: 0.5rem;
    --medium: 1rem;
    --large: 2rem;
    --extra-large: 3rem;
    --x-extra-large: 5rem;


    --card-height: calc(425px);

    --white:        #FFFFFF;
    --blue-100:     #CCDFF8;
    --blue-200:     #BBD4F6;
    --blue-300:     #9ABEF2;
    --blue-400:     #78A9ED;
    --blue-500:     #5693e9;
    --blue-505:     #5693e90D;
    --blue-508:     #5693e914;
    --blue-511:     #5693e91C;
    --blue-512:     #5693e91F;
    --blue-514:     #5693e924;
    --blue-516:     #5693e929;
    --blue-600:     #4578BF; /* White has better contrast than black */
    --blue-700:     #355C94;
    --blue-800:     #24416A;
    --blue-900:     #1C3355;
    --green-100:    #C2F2E6;
    --green-200:    #ADEDDE;
    --green-300:    #84E4CD;
    --green-400:    #5BDBBD;
    --green-500:    #32d2ac;
    --green-600:    #28A88A;
    --green-700:    #1E7E67; /* White has better contrast than black */
    --green-800:    #145445;
    --green-900:    #0F3F34;
    --yellow-100:   #FDECC5;
    --yellow-200:   #FCE6B2;
    --yellow-300:   #FBDA8C;
    --yellow-400:   #F9CD65;
    --yellow-500:   #f8c03f;
    --yellow-600:   #C99C33;
    --yellow-700:   #9B7826; /* White has better contrast than black */
    --yellow-800:   #6C531A;
    --yellow-900:   #554114;
    --orange-100:   #FBE2DC;
    --orange-200:   #FAD8D1;
    --orange-300:   #F8C4B9;
    --orange-400:   #F5B1A2;
    --orange-500:   #F39D8B;
    --orange-600:   #D28271;
    --orange-700:   #B16657; /* White has better contrast than black */
    --orange-800:   #904B3C;
    --orange-900:   #803D2F;
    --red-100:      #F5CBCB;
    --red-200:      #F2BABA;
    --red-300:      #EB9898;
    --red-400:      #E57575;
    --red-500:      #DE5353;/* White has better contrast than black */
    --red-600:      #B34343;
    --red-700:      #883232;
    --red-800:      #5E2222;
    --red-900:      #481A1A;
    --gray-100:     #F2F2F2;
    --gray-300:     #e5e5e5;
    --gray-400:     #b8b8b8;
    --gray-500:     #6E6E6E;
    --gray-720:     #64646f33;
    --gray-700:     rgb(100, 100, 111);
    --gray-900:     #272727;


    --light-background-100: var(--white);
    --light-background-200: var(--gray-100);
    --light-background-300: var(--gray-300);

    --on-light-background-100: var(--gray-500);
    --on-light-background-900: var(--gray-900);

    --duration-short: 200ms;
    --ease-in-out: cubic-bezier(0.445, 0.05, 0.55, 0.95);

    --rounded: var(--medium);
    --pill: 100vw;

    --navigation-bar-height: var(--x-extra-large);
    --small-navigation-drawer-width: var(--x-extra-large);
    --large-navigation-drawer-width: calc(1rem * 20);

    --on-light-primary-surface-elevation-1: linear-gradient(var(--blue-505), var(--blue-505)), linear-gradient(var(--light-background-100), var(--light-background-100));
    --on-light-primary-surface-elevation-2: linear-gradient(var(--blue-508), var(--blue-508)), linear-gradient(var(--light-background-100), var(--light-background-100));
    --on-light-primary-surface-elevation-3: linear-gradient(var(--blue-511), var(--blue-511)), linear-gradient(var(--light-background-100), var(--light-background-100));
    --on-light-primary-surface-elevation-4: linear-gradient(var(--blue-512), var(--blue-512)), linear-gradient(var(--light-background-100), var(--light-background-100));
    --on-light-primary-surface-elevation-5: linear-gradient(var(--blue-514), var(--blue-514)), linear-gradient(var(--light-background-100), var(--light-background-100));

}

/* Utility */
.flex { display: flex; }
.row { flex-direction: row; }
.col { flex-direction: column; }
.j-center { justify-content: center; }
.j-start { justify-content: flex-start; }
.j-between { justify-content: space-between; }
.a-center { align-items: center; }
.a-start { align-items: flex-start; }
.a-end { align-items: flex-end; }
.gap-sm { gap: var(--small) }
.gap-md { gap: var(--medium) }
.gap-lg { gap: var(--large) }
.gap-xl { gap: var(--extra-large) }
.grow { flex-grow: 1}
.no-grow { flex-grow: 0}
.shrink { flex-shrink: 1}
.wrap { flex-wrap: wrap }
.no-wrap { flex-wrap: nowrap }
.no-text-wrap {white-space: nowrap;}
.m-sm { margin: var(--small) }
.m-md { margin: var(--medium) }
.m-lg { margin:var(--large) }
.m-xl { margin:var(--extra-large) }
.p-sm { padding: var(--small) }
.p-md { padding: var(--medium) }
.p-lg { padding:var(--large) }
.p-xl { padding:var(--extra-large) }
.pi-sm { padding-inline: var(--small) }
.pi-md { padding-inline: var(--medium) }
.pi-lg { padding-inline:var(--large)}
.pi-xl { padding-inline:var(--extra-large) }
.pb-sm { padding-block: var(--small) }
.pb-md { padding-block: var(--medium) }
.pb-lg { padding-block:var(--large) }
.pb-xl { padding-block:var(--extra-large) }
.span-1 { grid-column: span 1 }
.span-2 { grid-column: span 2 }
.span-4 { grid-column: span 4 }
.ds-1 { box-shadow: var(--bs-1) }
.ds-2 { box-shadow: var(--bs-2) }
.round { border-radius: 1000px }
.rounded {border-radius: var(--medium);}
.pill {border-radius: 100vw;}
.ball {
    background-color: var(--green-500);
    width: var(--medium);
    height: var(--medium);
    border-radius: var(--pill);
}

@media screen and (max-width: 768px) {
    .span-1 { grid-column: span 1 }
    .span-2 { grid-column: span 1 }
    .span-4 { grid-column: span 1 }
}


/* General styling */
h1 { font-size: var(--fs-900) } 
h2 { font-size: var(--fs-800) } 
h3 { font-size: var(--fs-700) } 
h4 { font-size: var(--fs-600) }
h5 { font-size: var(--fs-500) }
h6 { 
    font-size: var(--fs-100);
    text-transform: uppercase;
    font-weight: var(--fw-600);
    color: var(--on-light-background-100);
    letter-spacing: 0.067rem;
 }

 .helper-text {
    color: var(--on-light-background-100);
    font-size: var(--fs-300);
    font-weight: var(--fw-300);
 }

 .fetch-date {
    color: var(--on-light-background-100);
    font-size: var(--fs-400);
    font-weight: var(--fw-300);
 }



html, body {
    
    font-family: 'Raleway', sans-serif;
    font-weight: var(--fw-600);
    color: var(--on-light-background-900);
}

body {
    background-color: var(--light-background-100);
    
}


.card {
    background-image: var(--on-light-primary-surface-elevation-1);
    border-radius: 1rem;
}


a {
    text-decoration: none;
    color: var(--on-light-background-900);
}

a:hover {
    color: var(--gray-500);
    cursor: pointer;
}


a.button-primary {
    cursor: pointer;
    transition-duration: var(--duration-short);
    transition-timing-function: var(--ease-in-out);
    padding-block: 0.5rem;
    padding-inline: 1rem;
    border: 2px solid var(--blue-500);
    border-radius: var(--pill);
    color: var(--blue-500);
    user-select: none;
    min-width: 0;
}

a.button-primary:hover {
    background-color: var(--blue-500);
    color: var(--white);
}

a.button-primary:active {
    background-color: var(--blue-600);
    border-color: var(--blue-600);
    color: var(--white);
}

a.button-primary:focus-visible {
    outline: 2px solid;
    outline-offset: 2px;
}

fa-icon {
    color: var(--blue-500);
}

button {
    all:unset;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: var(--duration-short);
    transition-timing-function: var(--ease-in-out);
    border-radius: var(--pill);
    min-width: 64px;
    padding-inline: var(--large);
    padding-block: var(--small);
    user-select: none;
    gap: var(--small);
}

button:focus{
    outline: none;
}

button:focus-visible {
    outline: 2px solid;
    outline-offset: 2px;
}

/* Primary buttonn */
button.primary {
    background-color: var(--blue-500);
    color: var(--white);
    
}
button.primary:hover {
    background-color: var(--blue-600);
}
button.primary:active {
    background-color: var(--blue-700);
}

/* Secondary button */
button.secondary {
    border: 2px solid var(--blue-500);
    color: var(--blue-500);
}

button.secondary:hover {
    background-color: var(--blue-500);
    color: var(--white);

}
button.secondary:active {
    background-color: var(--blue-600);
    border-color: var(--blue-600);
    color: var(--white);
}


/* Ternary button */
button.ternary {
    color: var(--blue-500)
}
button.ternary:hover {
    background-color: var(--blue-508);
}
button.ternary:focus-visible, button.ternary:active {
    background-color: var(--blue-516);
}

button.round {
    padding: 0;
    height: var(--extra-large);
    max-width: var(--extra-large);
    min-width: var(--extra-large);
}
button.rounded {
    height: var(--extra-large);
    padding-block: 0;
    padding-inline: var(--medium);
    border-radius: var(--pill);
    min-width: 0;
}
button.square {
    height: var(--extra-large);
    max-width: var(--extra-large);
    min-width: var(--extra-large);
    padding: 0;
}

.card-single {
    grid-column: auto / span 4;

}

.card-single-quarter {
    grid-column: auto / span 4;

}

.card-double {
    grid-column: auto / span 4;

}

.card-full {
    grid-column: auto / span 12;
}

@media (min-width: 840px) {
    .card-single {
        grid-column: auto / span 4;
    
    }

    .card-single-quarter {
        grid-column: auto / span 8;
    
    }

    .card-double {
        grid-column: auto / span 8;
    
    }
    
}


@media (min-width: 1180px) {
    .card-single {
        grid-column: auto / span 4;
    
    }

    .card-single-quarter {
        grid-column: auto / span 8;
    
    }
    .card-double {
        grid-column: auto / span 8;
    
    }
    
}


@media (min-width: 600px) {
    :root {
        --bs-2-bottom:  4rem 0.5rem 0.5rem rgb(0 0 0 / 6%);
        --fs-500: calc(1.6180 * 0.6rem);
    }
}
