<label for="search">Sök område</label>
<div 
    class="search-field"
    [ngClass]="{'focus': searchHasFocus}">
    <div class="flex row grow pb-sm pi-lg search-field-input">
        <input
            (keyup)="updateSearchQuery($event)"
            (focus)="setSearchFocus()"
            (blur)="clearSearchFocus()"
            #search
            type="search" 
            id="search" 
            autofocus/>
            <div class="button-group"
                [ngClass]="{'hidden': searchIsPristine}">
                <button 
                (click)="clearSearchQuery()"
                class="ternary round"
                >
                <fa-icon 
                [icon]=faTimes
                size="lg"></fa-icon>
            </button>
            <span class="spacer"></span>
            <button
                class="ternary rounded">
                <fa-icon 
                [icon]=faSearch
                size="lg"></fa-icon> Sök
            </button>
        </div>
    </div>
    <ng-container *ngIf="searchResults$ | async as searchResults">
        <hr/>
        <ul>
            <li 
            *ngFor="let searchResult of searchResults"
            class="search-results-item">
                {{searchResult.local_names?.sv ? searchResult.local_names.sv : searchResult.name}}, {{searchResult.region}}, {{searchResult.country}}
            </li>
        </ul>
    </ng-container>
</div>



