<label for="search">
  <h6>Sök område</h6>
</label>
<div class="search-field" [ngClass]="{'focus': searchHasFocus}">
  <div class="flex row grow pb-sm pi-lg search-field-input">
    <input (keyup)="onSearchKeyUpHandler($event)" (focus)="setSearchFocus()" (blur)="clearSearchFocus()" #search
      type="search" id="search" autofocus />
    <div class="button-group" [ngClass]="{'hidden': searchIsPristine}">
      <button (click)="clearSearchQuery()" class="ternary round">
        <fa-icon [icon]=faTimes size="lg"></fa-icon>
      </button>
      <span class="spacer"></span>
      <button (click)="onSearchClickHandler()" class="ternary rounded">
        <fa-icon [icon]=faSearch size="lg"></fa-icon> Sök
      </button>
    </div>
  </div>
  <ng-content></ng-content>
</div>
